body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', sans-serif;
}

h1{
    margin: 50px auto 0px auto;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem; /* 16px = 100% = 1em default 90px/16=5.625 x 100 for %
                        or 90px/16px = 5.625 = 5.625em   */
    color: #3FC1C9;
    line-height: .5;
}

h2{
    font-family: 'Montserrat';
    font-size: 2.5rem;
    color: #3FC1C9;
    font-weight: normal;
}

h3{
    font-family: 'Montserrat';
    color: #3FC1C9;
}

a{
    color: #3FC1C9;
}

hr{
    border-color: #3D3C42;
    border-style: dotted none none none;
    border-width: 5px;
    height: 0;
    width: 5%;
    margin: 60px auto;
}

.top-container{
    background-color: #E3FDFD;
    position: relative;
    padding-top: 100px;
}


.bottom-cloud{
    position: absolute;
}

.top-cloud{
    position: absolute;
    right: 500px;
    top: 50px;

}

.skill-row{
    margin: 100px auto 100px auto;
    line-height: 2;
    text-align: left;
    width: 50%;
}

.ring-img{
    width: 25%;
    float: left;
    margin-right: 30px;
}

.walk-img{
    width: 25%;
    float: right;
    margin-left: 30px;
}

.skills{

}

.profile p{
    color: #393E46;
}

.skills p{
    color: #393E46;
}